.blue-text {
  color: blue;
  font-family: 'Comic Sans MS'
}

.blue-text:hover {
  color: red;
  font-family: 'Comic Sans MS'
}

.navbar{
  width:100%;
  border-style: solid;
  border-width: 5px;
  font-size: 20pt;
  font-family: monospace;
  background-color: white;
  position: fixed
}

.first-section{
  color: red;
  font-family: monospace;
  border-color: grey;
  border-width: 10px;
  border-style: dashed;
  padding: 20px;
  margin: 30px;
  text-align: left;
  font-size: 16pt;
  font-family: "Calibri", sans-serif;
